.modal-form
{
    h5,label
    {
        color: white;
    }

    input, select
    {
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid white;
        outline: none;
        padding-left: 10px;
        background: transparent;
    }

    &_name, &_email
    {
        width: 49%;

        input
        {
            width: 100%;
        }
    }

    &_phone
    {
        input
        {
            width: 100%;
        }
    }

    button
    {
        margin-top: 15px;
    }

    .modal-content
    {
        background-image: linear-gradient( 180deg , #2c296e, #e3e2ff);
    }

    .close
    {
        color: white;
    }
}

.intl-tel-input 
{
    display: block;
}

@media (max-width: 991px)
{
    .modal-form
    {
        .form-group
        {
            flex-wrap: wrap;
        }

        &_name, &_email
        {
            width: 100%;
        }

        &_email
        {
            margin-top: 10px;
        }
    }
}