.service
{
    margin-top: 100px;
    margin-bottom: 100px;

    &_body
    {
        box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.1);
        border-radius: 8px;
        padding: 20px;
        min-height: 220px;
        transition: 0.5s;
    }

    &_body:hover
    {
        box-shadow: none;
        transition: 0.5s;
    }

    &_title
    {
        color: $secondary-color;
        display: inline-block;
        margin-left: 10px;
    }

    &_icon
    {
        img
        {
            width: 80px;
        }
    }

    &_title
    {
        font-weight: 500;
    }

    &_desc
    {
        overflow: hidden;
        margin-bottom: 5px;
        margin-top: 10px;
    }
}

@media (max-width: 991px)
{
    .service
    {
        &_body
        {
            width: 330px;
            margin: auto;
            margin-bottom: 30px;
        }
    }
}