.subscribe 
{
    display: flex;
    align-items: center;
    margin-top: 100px;

    &_left
    {
        flex: 0 0 250px;

        img
        {
            width: 100%;
        }
    }

    &_right
    {
        margin-left: 30px;
    }

    &_input
    {
        padding: 10px 20px;
        width: 300px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid $secondary-color;
        outline: none;
        margin-right: 10px;
    }
}

@media (max-width: 991px)
{
    .subscribe 
    {   
        &_left
        {
            display: none;
        }

        &_right
        {
            margin-left: 0;
        }

        &_input
        {
            width: 100%;
        }

        button
        {
            margin-top: 15px;
        }
    }
}